---
import Layout from "../layouts/Layout.astro";
import Location from "../components/Location.astro";
---

<Layout title="CEPTRO Gambrill">
  <div class="text-center mt-[50px]">
    <h2 class="text-4xl my-[15px]">
      Curso de Barbería Profesional en <strong class="text-[var(--primary)]">
        CEPTRO GAMBRILL</strong
      >
    </h2>
    <p>
      Capacitación en cortes de cabello, afeitado y cuidado de la barba, con
      habilidades empresariales clave.
    </p>
  </div>
  <div class="flex items-center gap-5 mx-[100px]">
    <img class="w-[200px]" src="/gallery/17.jpeg" alt="" />
    <div>
      <h2 class="text-2xl">Lo que aprenderás:</h2>
      <p>
        <strong> Técnicas de Corte y Afeitado:</strong> Desde los cortes clásicos
        hasta las tendencias más actuales, te enseñaremos las técnicas de corte y
        afeitado que satisfagan las necesidades de tus clientes.
      </p>
      <p>
        <strong> Diseño de Barbas y Bigotes:</strong> Aprenderás a esculpir y dar
        forma a una variedad de estilos de barba y bigote, desde los looks más pulidos
        hasta los más audaces.
      </p>

      <p>
        <strong>Estilismo y Productos para el Cuidado del Cabello:</strong> Conocerás
        los productos y herramientas necesarios para mantener el cabello y la barba
        en óptimas condiciones, así como técnicas de estilismo para lograr resultados
        profesionales.
      </p>
      <p>
        <strong> Atención al Cliente y Gestión del Salón:</strong> No se trata solo
        de habilidades técnicas; también te capacitaremos en atención al cliente,
        gestión de citas y administración de un salón de barbería exitoso.
      </p>
    </div>
  </div>
  <Location />
</Layout>
