---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminos y condiciones Instituto Gambrill">
  <div class="text-white bg-[var(--primary)] py-[100px]">
    <div class="w-[768px] mx-auto flex flex-col gap-5">
      <h2 class="text-2xl">Política de Privacidad</h2>
      En el Instituto de Belleza [Nombre], la privacidad de nuestros usuarios es
      de suma importancia para nosotros. Esta política de privacidad describe cómo
      recopilamos, utilizamos, almacenamos y protegemos la información personal de
      nuestros usuarios.

      <h2 class="title">Información recopilada</h2>

      Recopilamos información personal de diversas formas, incluyendo cuando los
      usuarios se registran en nuestro sitio, completan formularios, realizan
      compras, participan en encuestas o interactúan con nuestro contenido. La
      información que podemos recopilar incluye nombres, direcciones de correo
      electrónico, números de teléfono, direcciones postales y otra información
      relevante para nuestros servicios.

      <h2 class="title">Uso de la información</h2>

      Utilizamos la información personal recopilada para proporcionar y mejorar
      nuestros servicios, comunicarnos con los usuarios, procesar transacciones,
      personalizar la experiencia del usuario, administrar cuentas de usuario y
      responder a consultas y solicitudes de los usuarios. También podemos
      utilizar la información para enviar correos electrónicos promocionales y
      materiales de marketing, pero los usuarios tienen la opción de darse de
      baja en cualquier momento.

      <h2 class="title">Protección de la información</h2>

      Implementamos medidas de seguridad adecuadas para proteger la información
      personal de nuestros usuarios contra accesos no autorizados, divulgación o
      alteración. Sin embargo, no podemos garantizar la seguridad absoluta de la
      información transmitida a través de internet.

      <h2 class="title">Divulgación a terceros</h2>

      No vendemos, comerciamos ni transferimos de ninguna manera información
      personal identificable a terceros, a excepción de aquellos que nos ayudan
      a operar nuestro sitio web, brindar servicios a los usuarios o llevar a
      cabo nuestras actividades comerciales, siempre y cuando estos terceros
      estén de acuerdo en mantener la confidencialidad de la información.

      <h2 class="title">Consentimiento</h2>

      Al utilizar nuestro sitio web, los usuarios aceptan nuestra política de
      privacidad y el tratamiento de su información personal de acuerdo con esta
      política.

      <h2 class="title">Cambios en la política de privacidad</h2>

      Nos reservamos el derecho de actualizar o cambiar nuestra política de
      privacidad en cualquier momento. Se alentará a los usuarios a revisar esta
      página periódicamente para estar al tanto de cualquier cambio. El uso
      continuado del sitio web después de la publicación de cualquier cambio en
      esta política de privacidad constituirá la aceptación de dichos cambios.

      <h2 class="title">Contacto</h2>

      Si los usuarios tienen alguna pregunta o inquietud sobre nuestra política
      de privacidad, pueden contactarnos a través de la información
      proporcionada en nuestro sitio web.
    </div>
  </div>
</Layout>
