---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminos y condiciones Instituto Gambrill">
  <div class="text-white bg-[var(--primary)] py-[50px] md:py-[100px]">
    <div class="px-[5px] md:w-[768px] mx-auto flex flex-col gap-5">
      <h2 class="text-2xl">Terminos y Condiciones de uso</h2>
      <p>
        <strong> Propiedad del contenido:</strong> Todos los materiales, incluyendo
        texto, imágenes, videos y gráficos, son propiedad del CEPTRO de Belleza Gambrill
        y están protegidos por las leyes de derechos de autor.
      </p>
      <p>
        <strong> Uso permitido:</strong> El contenido del sitio web está destinado
        únicamente para fines informativos y educativos. No está permitido copiar,
        reproducir o distribuir el contenido sin autorización previa.
      </p>
      <p>
        <strong> Política de privacidad:</strong> Se recopila información personal
        de los usuarios de acuerdo con nuestra política de privacidad. Esta información
        se utiliza únicamente con fines internos y no se comparte con terceros sin
        consentimiento del usuario.
      </p>
      <p>
        <strong> Precisión de la información:</strong> Nos esforzamos por proporcionar
        información precisa y actualizada en nuestro sitio web, pero no garantizamos
        la exactitud o integridad del contenido. Los usuarios deben verificar cualquier
        información importante antes de tomar decisiones basadas en ella. Enlaces
        externos: El sitio web puede contener enlaces a sitios externos. No somos
        responsables del contenido o las políticas de privacidad de estos sitios
        y recomendamos a los usuarios que revisen las políticas de privacidad de
        los sitios externos antes de proporcionar información personal.
      </p>
      <p>
        <strong> Modificaciones:</strong> Nos reservamos el derecho de realizar cambios
        en los términos y condiciones en cualquier momento sin previo aviso. Los
        cambios entrarán en vigencia inmediatamente después de su publicación en
        el sitio web.
      </p>
      <p>
        <strong> Ley aplicable:</strong> Estos términos y condiciones se rigen por
        las leyes del país donde está registrado el Instituto de Belleza [Nombre],
        y cualquier disputa se resolverá en los tribunales de esa jurisdicción.
      </p>
    </div>
  </div>
</Layout>
