---
import Course from "./Course.astro";
---

<div
  class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden"
>
  <div data-aos="flip-up" class="mx-auto mt-24 aos-init aos-animate">
    <div class="flex justify-center items-center gap-10">
      <div class="w-[500px]">
        <h1 class="font-bold text-4xl text-darken my-3">
          Somos <span class="text-[var(--primary)]">Gambril</span>
        </h1>
        <p class="leading-relaxed text-gray-500">
          Con más de 8 años de experiencia en el sector, en nuestro CEPTRO nos
          enorgullece ofrecer una formación de calidad en cosmétologia, barbería
          y peluquería. Nuestro compromiso es proporcionar a nuestros
          estudiantes las habilidades y conocimientos necesarios para destacar
          en la industria de la belleza.
          <br />
          Ofrecemos cursos de peluqueria, barberia y cosmetologia.
        </p>
      </div>

      <video controls src="video.mp4" class="h-[500px]"></video>
    </div>
  </div><div class="grid md:grid-cols-3 gap-14 md:gap-5 mt-20">
    <a
      class="hover:scale-105 transition-transform ease-in-out"
      href="
    #cosmetologia"
    >
      <div
        data-aos="fade-up"
        class="bg-white shadow-xl p-6 text-center rounded-xl aos-init aos-animate"
      >
        <img class="w-[100px] h-[120px] mx-auto" src="/main/face-mask.svg" />
        <h1
          class="font-medium text-[var(--primary)] text-xl mb-3 lg:px-14 text-darken"
        >
          Cosmetologia
        </h1><p class="px-4 text-gray-500">
          Formación en cuidado de la piel, maquillaje, manicura y pedicura para
          resaltar la belleza natural de los clientes.
        </p>
      </div></a
    >
    <a
      class="hover:scale-105 transition-transform ease-in-out"
      href="#barberia"
    >
      <div
        data-aos="fade-up"
        data-aos-delay="150"
        class="bg-white shadow-xl p-6 text-center rounded-xl aos-init aos-animate"
      >
        <img class="w-[100px] h-[120px] mx-auto" src="/main/barber-2.svg" />

        <h1
          class="font-medium uppercase text-[var(--primary)] text-xl mb-3 lg:px-14 text-darken"
        >
          Barberia
        </h1><p class="px-4 text-gray-500">
          Capacitación en cortes de cabello, afeitado y cuidado de la barba, con
          habilidades empresariales clave.
        </p>
      </div>
    </a>
    <a
      class="hover:scale-105 transition-transform ease-in-out"
      href="#peluqueria"
    >
      <div
        data-aos="fade-up"
        data-aos-delay="300"
        class="bg-white shadow-xl p-6 text-center rounded-xl aos-init aos-animate"
      >
        <img class="w-[100px] h-[110px] mx-auto" src="/main/hair-salon.svg" />
        <h1
          class="font-medium uppercase text-[var(--primary)] text-xl mb-3 lg:px-14 text-darken pt-3"
        >
          Peluqueria
        </h1><p class="px-4 text-gray-500">
          Habilidades avanzadas en corte, peinado, coloración y tratamiento del
          cabello femenino.
        </p>
      </div>
    </a>
  </div><div class="mt-28">
    <div
      data-aos="flip-down"
      class="text-center max-w-screen-md mx-auto aos-init aos-animate"
    >
      <h1 class="text-3xl font-bold mb-4">
        Porque <span class="text-[var(--primary)]">Gambril?</span>
      </h1><p class="text-gray-500">
        Gambril tiene mas de 8 años de experiencia, programas actualizados y
        instructores altamente calificados. Ofrecemos formación integral en
        cosmetología, barbería y peluquería, combinando teoría con práctica para
        una preparación completa. Nuestro enfoque se centra en el éxito de
        nuestros estudiantes, proporcionándoles las habilidades necesarias para
        destacar en el mercado laboral. Además, formarás parte de una comunidad
        comprometida con el crecimiento y la excelencia en la industria de la
        belleza.
      </p>
    </div><div
      data-aos="fade-up"
      class="flex flex-col md:flex-row justify-center space-y-5 md:space-y-0 md:space-x-6 lg:space-x-10 mt-7 aos-init aos-animate"
    >
    </div>
  </div>

  <Course
    subtitle="Formación en cuidado de la piel, maquillaje, manicura y pedicura para resaltar la belleza natural de los clientes."
    img="gallery/2.jpeg"
    id="cosmetologia"
    title="Cosmetologia"
  />
  <Course
    subtitle="Capacitación en cortes de cabello, afeitado y cuidado de la barba, con habilidades empresariales clave."
    img="barber_course.jpeg"
    id="barberia"
    invert={true}
    title="Barberia"
  />
  <Course
    subtitle="Habilidades avanzadas en corte, peinado, coloración y tratamiento del cabello para el éxito en salones y más."
    img="gallery/17.jpeg"
    id="peluqueria"
    title="Peluqueria"
  />

  <div class="mt-24 flex flex-col md:flex-row items-start md:space-x-10">
    <div data-aos="zoom-in-right" class="md:w-6/12 aos-init">
      <img src="main/pasacalle.jpeg" class="w-full mx-auto" />
    </div><div data-aos="zoom-in-left" class="md:w-6/12 aos-init">
      <div class="flex items-center space-x-20 mb-5">
        <span class="border border-gray-300 w-14 absolute"></span><h1
          class="text-gray-400 tracking-widest text-sm"
        >
          Nosotros
        </h1>
      </div><h1 class="font-semibold text-darken text-2xl lg:pr-40">
        20+ Profesores <span class="text-[var(--primary)]"
          >para su mejor enseñanzas</span
        >
      </h1><p class="text-gray-500 my-5 lg:pr-20">
        En Gambri nos aseguramos que los profesores esten altamente capacitados
      </p>
    </div>
  </div>
  <div
    class="mt-24 flex flex-col-reverse md:flex-row items-start md:space-x-10"
  >
    <div data-aos="zoom-in-right" class="md:w-5/12 aos-init">
      <div class="flex items-center space-x-20 mb-5">
        <span class="border border-gray-300 w-14 absolute"></span><h1
          class="text-gray-400 tracking-widest text-sm"
        >
          TESTIMONIAL
        </h1>
      </div><h1 class="font-semibold text-darken text-2xl lg:pr-40">
        Que es lo que dicen nuestros egresados?
      </h1><p class="text-gray-500 my-5">
        Como exalumno del <strong class="text-[var(--primary)]"
          >CEPTRO GAMBRILL</strong
        >, me complace ofrecer mi más sincera recomendación para esta
        institución. Durante mi tiempo en el instituto, recibí una formación
        excepcional en cosmetología, barbería y peluquería, que sentó las bases
        para mi exitosa carrera en la industria de la belleza.
      </p>
    </div><div data-aos="zoom-in-left" class="md:w-7/12 aos-init">
      <img src="main/egresados.jpeg" class="md:w-10/12 mx-auto" />
    </div>
  </div>
</div>
